<launch>
  <arg name="mapnum" default="1"/>
  <param name="mapnum" value="$(arg mapnum)"/>
  <arg name="robotnum" default="1"/>
  <param name="robotnum" value="$(arg robotnum)"/>
  <arg name="pathnum" default="1"/>
  <param name="pathnum" value="$(arg pathnum)"/>
  
  <!--arg name="map_file" default="$(env HOME)/owayeol/map$(arg mapnum)/map.yaml"/-->
  <node pkg="owayeol" type="patrol.py" name="patrol" output="screen">
  </node>
</launch>
 
